{{#each dvds}}
<div class="row">
  <div class="col-md-12" style='text-align:center'>
    <h2>{{ title }}</h2>
    <p><a id='{{ pk }}' class="dvd btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div>
</div>
{{/each}}